* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header blog*/
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  background-image: url("../img/HeaderPhoto2.jpg");

  /* Hight */
  height: 40%;

  /* Position and center the image to scale nice on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Text in center of image */
.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.photoGert {
  max-width: 80%;
  height: auto;
  width: auto\9;
}

.blogImage {
  max-width: 70%;
  height: auto;
  width: auto\9;
}

.blogTwoImage {
  max-width: 45%;
  height: auto;
  width: auto\9;
}

.blogFiveImage {
  max-width: 35%;
  height: auto;
  width: auto\9;
}

video {
  width: 35%;
  height: auto;
}

#moreImg, #moreImg2, #moreImg3, #moreImg4 {
  display: none;
}

#imgBtn, #imgBtn2, #imgBtn3, #imgBtn4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  transition-duration: 0.4s;
  margin: 20px;
  border-radius: 15%;
}

#imgBtn:hover, #imgBtn2:hover, #imgBtn3:hover, #imgBtn4:hover {
  background-color: #e7e7e7;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {

  .header {
    height: 40%;
    font-size: 30px;
  }

  .centeredText {
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .photoGert {
    width: 50%;
  }

  #imgBtn, #imgBtn2, #imgBtn3, #imgBtn4 {
    width: 11vw;
    height: 4vw;
    font-size: 1.5vw;
  }

  .blogFiveImage {
    max-width: 45%;
    height: auto;
    width: auto\9;
  }

  video {
    width: 45%;
    height: auto;
  }

  #mobile{
    font-size: 16px;
  }
}


/* Responsive layout - when the screen is less than 679px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 679px) {

  .header {
    height: 30%;
    font-size: 3vw;
  }

  .centeredText {
    position: absolute;
    top: 80%;
    left: 50%;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .photoGert {
    width: 50%;
  }

  #imgBtn, #imgBtn2, #imgBtn3, #imgBtn4 {
    width: 16vw;
    height: 6vw;
    font-size: 2vw;
  }

  .blogFiveImage {
    max-width: 45%;
    height: auto;
    width: auto\9;
  }

  video {
    width: 45%;
    height: auto;
  }

  #mobile{
    font-size: 4vw;
  }
}